.App {
  text-align: left;
  display: grid;
  grid-template-columns: 44px;
  grid-template-rows: 22px;
}

.Gesture {
}

.a {
  grid-row: row;
  display: grid;
  grid-template-columns: 44px;
  grid-template-rows: 22px;
}

.b {
  grid-column: column;
  grid-row: row;
  display: grid;
  grid-template-columns: 44px;
  grid-template-rows: 22px;
}

.c {
  grid-column: column;
  grid-row: row 1;
}

.d {
  grid-column: column;
  grid-row: row 2;
}

.e {
  grid-column: column;
  grid-row: row 3;
  display: grid;
  grid-template-columns: 44px;
  grid-template-rows: 48px;
}

.f {
  grid-column: column;
  grid-row: row 5;
  display: grid;
  grid-template-columns: 44px;
  grid-template-rows: 72px;
}

.g {
  grid-column: column;
  grid-row: row 6;
  display: grid;
  grid-template-columns: 44px;
  grid-template-rows: 72px;
}
